<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554110866673-33ei6qg5mvdo4c06rded22eifcth8ufr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554110866673-33ei6qg5mvdo4c06rded22eifcth8ufr</string>
	<key>API_KEY</key>
	<string>AIzaSyBc_JYPw7EErCCq6219sS7Lbx8lnSf2cZc</string>
	<key>GCM_SENDER_ID</key>
	<string>554110866673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodieAppDelivery</string>
	<key>PROJECT_ID</key>
	<string>food-fullstack-app</string>
	<key>STORAGE_BUCKET</key>
	<string>food-fullstack-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554110866673:ios:a95f74adec943a635b0550</string>
</dict>
</plist>